@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Ubuntu;
  src: url(./assets/fonts/Ubuntu-Regular.ttf) format(truetype);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Ubuntu;
  src: url(./assets/fonts/Ubuntu-Medium.ttf) format(truetype);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Ubuntu;
  src: url(./assets/fonts/Ubuntu-Bold.ttf) format(truetype);
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

@layer components {
  .app {
    @apply bg-gray-magnolia min-h-screen flex justify-center;
    @apply md:items-center;
  }

  .container {
    @apply h-[70vh]  rounded-xl p-4 flex flex-col gap-20 w-auto;
    @apply md:flex-row md:bg-white md:shadow-lg;
  }

  .sidebar {
    @apply w-full bg-sidebar-mobile absolute top-0 left-0 h-[20vh]  bg-no-repeat bg-cover p-0 pb-[5vh] rounded-none flex;
    @apply md:relative md:w-[300px] md:bg-sidebar-desktop md:h-full md:rounded-lg md:p-8;
  }

  .content {
    @apply w-full bg-white p-6 rounded-lg shadow-lg z-10 mt-[10.5vh];
    @apply md:w-[450px] md:mr-16 md:p-0 md:pb-4 md:shadow-none md:mt-0 md:pt-10;
  }
}

body {
  font-family: Ubuntu, sans-serif;
}
